<div class="container-1">
    <div class="main-1" style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    ">
        <div class="sapcer"></div>
        <div class="sapcer"></div>
        <div class="text-1">
            <h3 class="h3-1">IT Design & Consulting</h3>
        </div>
        <div class="sapcer"></div>
        <div class="text-2">
            <h1>
                Our Intelligent <br />
                Technology Solutions <br />
                and Services
            </h1>
        </div>
        <div class="sapcer"></div>
        <div class="text-3">
            <div class="first" style="display: flex">
                <button style="font-family: noto-semibold; color: #4f4f4f" mat-flat-button>
                    Learn more
                </button>
                <div class="space" style="margin-right: 20px"></div>
                <button style="background-color: #1a73e8" mat-flat-button color="primary">
                    Our Services
                </button>
            </div>
        </div>
        <div class="sapcer"></div>
        <div class="mouse-img">
            <img src="./../../../assets/img/mouse wheel.png" style="width: 30px; height: 113px" alt="" />
        </div>
    </div>
</div>

<div class="container-2">
    <div class="main-2">
        <div class="main-2-text">
            <h3>BUILD YOUR <br>
                DIGITAL DREAMS</h3>

            <p>Creativity is the root cause for one-touch <br> libraries and easy-to-finish unfinishable tasks. <br> Incorporating them in a work is certainly an <br> exceptional skill. One who's at top of the heap <br> will get a throne!</p>
        </div>
        <div class="main-2-img">
            <img src="./../../../assets/img/Vector 1.svg" alt="">
        </div>
    </div>
</div>

<div class="container-3">
    <div class="main-3">
        <div class="main-3-img">
            <img src="./../../../assets/img/Vector 2.svg" alt="">
        </div>
        <div class="main-3-text">
            <h3>BUILD YOUR <br>
                DIGITAL DREAMS</h3>

            <p>Creativity is the root cause for one-touch <br> libraries and easy-to-finish unfinishable tasks. <br> Incorporating them in a work is certainly an <br> exceptional skill. One who's at top of the heap <br> will get a throne!</p>
        </div>
        
    </div>
</div>