<mat-toolbar style="background-color: white">
  <div class="logo">
    <img src="./../assets/img/logo.svg" alt="" />
  </div>

  <span class="example-spacer"></span>
  <div class="nav-menu" style="display: flex;">
    <div class="m-space"></div>
    <div class="menu1">
      <a href="">Home</a>
    </div>
    <div class="m-space"></div>
    <div class="menu1">
      <a href="">Products</a>
    </div>
    <div class="m-space"></div>
    <div class="menu1">
      <a href="">Blog</a>
    </div>
    <div class="m-space"></div>
    <div class="menu1">
      <a href="">About</a>
    </div>
    <div class="m-space"></div>
    <div class="menu1">
      <a href="">Contact</a>
    </div>
  </div>

  <span class="example-spacer"></span>

  <div class="social-icons" style="display: flex;">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img src="./../assets/img/Facebook.svg" alt="" />
    </button>
    <div class="spacer"></div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img src="./../assets/img/Twitter.svg" alt="" />
    </button>
    <div class="spacer"></div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img src="./../assets/img/Instagram.svg" alt="" />
    </button>
  </div>
</mat-toolbar>

